{% load staticfiles %}

@charset "UTF-8";

/*
abbr,article,aside,audio,canvas,datalist,details,figure,dialog,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video 
{
	display:block;
}

html{
	height:100%;
}	
*/
body
{
	background-color:white;
	/*background:-webkit-gradient(linear, left top, left bottom, from(#666666), to(#CCCCCC));
	background :-moz-linear-gradient(top, #666666 0%, #CCCCCC 100%);Mature M7 Script capitals*/
	font-family:Verdana, Geneva, sans-serif;
}

#txt-logo
{
	font-family:Monotype Corsiva;
	font-size:50px;
	color:rgba(3,39,182,0.7);
	position:absolute;
	top:3px;
	left:40px;
}

#sub-txt-logo
{
	font-family:Magneto;
	font-size:20px;
	color:rgba(3,39,182,0.7);
	position:absolute;
	top:80px;
	left:40px;
}

header
{
	/*background-image:url("{% static 'images/banner.png' %}");*/
	height:100px;
}

#navigation_principale li
{
	/*color:rgba(3,39,182,0.7);
	background-*/color:white;

	display:inline;
	line-height:30px;
	
	float:center;
	margin-left:50px;
	margin-right:50px;
}

#navigation_principale a
{
    color:white;
}

#navigation_superieur li
{
	/*color:rgba(3,39,182,0.7);
	background-*/color:rgba(3,39,182,0.7);

	margin-left:10px;
	margin-right:10px;
	display:inline;
	/*line-height:30px;*/
	
	top:5px;
	float:right;
	
	font-size:10px;
}

#navigation_principale
{
	background-color:rgba(3,39,182,0.7);
	padding:0 300px 0 300px;

}

#section-principale
{
	width:90%;
	height:430px;
	top:200px;
	margin:auto;
	
	-webkit-border-radius:20px 20px 20px 20px;
	-moz-border-radius:20px 20px 20px 20px;
	-o-border-radius:20px 20px 20px 20px;
	border-radius:20px 20px 20px 20px;
	
	border: 2px solid gray;
	
	overflow:auto;
	
}
#sous-menu
{
	top:0;
	left:0;
	margin-top:0;
	background-color:rgb(120,120,120);
	
	-webkit-border-radius:20px 20px 0 0;
	-moz-border-radius:20px 20px 0 0;
	-o-border-radius:20px 20px 0 0;
	border-radius:20px 20px 0 0;
}
#sous-menu li
{
	
	width:100%;
	
	color:white;

	
	display:inline;
	line-height:30px;
	margin-left:220px;
	margin-right:220px;
	padding:0 20px 0 20px;
	
	
}

#bas-de-page
{
	background-color:rgba(3,39,182,0.7);
	color:white;
	padding:0 420px 0 420px;
}

#encadrement
{

}
/*
******************************************************************
******************			Mes Tableaux		******************
******************************************************************
*/

.Affichage-liste th
{
	background-color:rgba(3,39,182,0.7);
	color:white;
	font-family:Monotype Corsiva;
	font-size:20px;
	width:150px;
}

.Affichage-liste .court
{
	width:30px;
	padding-left:3px;
	padding-right:3px;
}

.Affichage-liste .long
{
	width:50px;
	padding-left:3px;
	padding-right:3px;
}

.Affichage-liste .treslong
{
	width:220px;
	padding-left:3px;
	padding-right:3px;
}

.Affichage-liste td, .bouton-au-centre
{
	text-align:center;
}

.Affichage-liste, .insertion-cours
{
	margin:auto;
}

fieldset
{
    -webkit-border-radius:20px 20px 20px 20px;
	-moz-border-radius:20px 20px 20px 20px;
	-o-border-radius:20px 20px 20px 20px;
	border-radius:20px 20px 20px 20px;

	border: 2px solid gray;
}

.label-programme
{
    float:right;
}