<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<link  href="{% static 'css/design.css' %}" rel="stylesheet" type="text/css"/>
		<title>Le Nom de ma page</title>
	</head>
	
	<body>
		<!--<div id="page">-->
			<header>
				<nav id="navigation_superieur">
					<ul>
						<li>Deconnexion</li>
						<li>Dashboard</li>
						<li>Mon compte</li>
						<li>Bienvenue Admin</li>
					</ul>
				</nav>
				
				<div id="logo">
					<img src="" alt="logo du backend">
					<h1 id="txt-logo">Administration</h1>
					<h2 id="sub-txt-logo">Chercher - Innover - Entreprendre</h2>
				</div>
				
				<div id="banner">
					<img src="" alt="background image banner">
				</div>
			</header>
			{% block pouchyx %}
			<nav id="navigation_principale" >
				<ul>
					<li>COURS</li>
					<li>PROGRAMMES</li>
					<li>PROFESSEURS</li>
				</ul>
			</nav>
			
			<section id="section-principale" >
				<nav id="sous-menu" >
					<ul>
						<li>Lister</li>
						<li>Inserer</li>
						<li>Modifier</li>
						<li>Supprimer</li>
					</ul>
				</nav>
				
				<article>
					<form  method="post" action="../savecours/" >
						<fieldset style="width:550px"  >
						<legend >Insertion de Cours</legend>
						<table>
							<tr>
							<td><label>Cours</label></td><label></label><td>Credits ECTS</td><td><label>Langues</label></td>
							</tr>
							<tr>
							<td><input type="text" name="NomCours" size="30" maxlength="100"></td><td><input type="text" name="CreditsECTS" size="3" maxlength="3"></td><td><input type="text" name="Langues" size="10" maxlength="20"></td>
							</tr>

                            <tr>
							<td><label>Lieu d'Enseignement</label></td><td><label>Grade</label></td><td><label>Semestre</label></td>
							</tr>
                            <tr>
							<td><input type="text" name="LieuEnseignement" size="30" maxlength="100"></td><td><input type="text" name="Grade" size="2" maxlength="2"></td><td><input type="text" name="Semestre" size="2" maxlength="2"></td>
							</tr>
							
							<tr>
							<td><label>Public Cible:</label></td>
							</tr>
                            <tr>
							<td><input type="text" name="PublicCible" size="20" maxlength="50"></td>
							</tr>

                            <tr>
							<td><label>Objectif:</label></td>
							</tr>
                            <tr>
							<td colspan="3" ><input type="text" name="Objectif" size="100" maxlength="100"></td>
							</tr>

                            <tr>
							<td><label>Descriptif Cours:</label></td>
							</tr>
                            <tr>
							<td colspan="3"><input type="text" name="DescriptifCours" size="100" maxlength="100"></td>
							</tr>

                            <tr>
							<td></td><td><input type="submit" value="Enregistrer" ></td><td></td>
							</tr>

						</table>
						</fieldset></br>
					</form>
				</article>
			</section>
			
			<footer id="bas-de-page" >
				<p>Copyright 2014 - www.esih.edu - All Right Reserved</p>
			</footer>
		<!--</div>-->
	</body>
</html>