{% extends 'base.html' %}

{% block article %}
        <section id="section-principale" >
				<nav id="sous-menu" >
					<ul>
						<li>Lister</li>
						<li>Inserer</li>
					</ul>
				</nav>
                        <article>
                            <table id="Affichage-liste-professeur" class="Affichage-liste">
                                    <tr>
                                        <th>Nom</th><th>Prenom</th><th>Telephone</th><th class="long">E-mail</th><th>CV</th><th colspan="2">Action</th>
                                    </tr>
                                    {% for elem in listProfesseur %}

                                    <tr>
                                        <td class="long">{{elem.NomProfesseur}}</td><td class="long">{{elem.PrenomProfesseur}}</td><td>{{elem.Telephone}}</td><td class="treslong">{{elem.Email}}</td><td class="court"><a href="#">Voir CV</a></td><td><a href="#">Modif</a></td><td><a href="../supprimerprofesseur/{{elem.id}}/">Suppr</a></td>
                                    </tr>
                                    {% endfor %}
                                </table>

                        </article>
			</section>

{% endblock %}

