{% extends 'base.html' %}

{% block article %}
    <table id="Affichage-liste-professeur" class="Affichage-liste">
        <tr>
            <th>Nom</th><th>Domaine</th><th>Mention</th><th>Specialite</th><th colspan="2">Action</th>
        </tr>
        {% for elem in listProgramme %}

        <tr>
            <td>{{elem.NomProgramme}}</td><td>{{elem.Domaine}}</td><td>{{elem.Mention}}</td><td>{{elem.Specialite}}</td><td><a href="#">Modif</a></td><td><a href="../supprimerprofesseur/{{elem.id}}/">Suppr</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

